@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Nabla&display=swap');
*{
    margin: 0;
    padding: 0;
}

html, body {
    background: linear-gradient(to right, green, black);
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-family: "Honk", system-ui;
}

form {
    margin: auto;
    width:400px;
    background-color: white;
    min-height: 20px;
    margin-top: 0;
    font-size: 25px;
    padding: 10px;
    border-radius: 9px ;
}

.label{
    text-align: center;
    font-family: "Honk", system-ui;
}

input {
    margin: auto;
    font-size: 20px;
}

#numero {
    font-size: 20px;
}

#pe {
    display: none;
    text-align: center;
}

#bot {
    margin-top: 1%;
    display: block;
}

#botM {
    display: none;
}

#c {
    display: none;
}

footer {
    text-align: center;
    font-family: "Honk", system-ui;
    font-size: 25px;
}

@media screen and (max-width:500px){
    form {
        width: 70%;
    }

    input {
        width: 100%;
    }

    #bot {
        display: none;
    }

    #botM {
        align-items: center;
        display: inline;
        width: 40px;
        margin-left: 34%;
        font-size: 28px;
        margin-top: 10px;
        border-radius: 50%;
        background-color: black;
        color: white;
    }

    #c{
        align-items: center;
        display: inline;
        width: 40px;
        margin-right: 20px;
        font-size: 28px;
        margin-top: 10px;
        border-radius: 50%;
        background-color: black;
        color: white;
    }

    footer {
        margin-bottom: 0px;
    }
    
}
